{% comment %}
    @param {Boolean} center
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}

  {% if site.github_username %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.github_username }}">
      <span style="font-size: 48px; color: Dodgerblue;">
          <i class="fas fa-github"></i>
      </span>
    </a>
  </li>
  {% endif %}

  {% if site.juejin_userid %}
  <li>
    <a target="_blank" href="https://juejin.im/user/1345457961046055">
      <span class="fa-stack fa-lg" >
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-juejin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.weibo_username %}
  <li>
    <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.facebook_username %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}


</ul>