<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
            clientID: '32abc15ca32375a09910',
            clientSecret: '11edcb45dddf5c3716217b56e4355119b750aafb',
            repo: 'MlxChange.github.io',
            owner: 'MlxChange',
            admin: ['MlxChange'],
            id: location.pathname,      // Ensure uniqueness and length less than 50
            distractionFreeMode: false  // Facebook-like distraction free mode
        })

        gitalk.render('gitalk-container')

    </script>

<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
